/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Russo One', sans-serif;
}

/*impostazione background*/

.background-red, .background-green, .background-yellow{
    height: 100vh;
    align-items: center;
} 

.background-red{
    background-color: red;
}

.background-green{
    background-color: green ;
}

.background-yellow{
    background-color: yellow ;
}

/*impostazione centratura immagini*/

.image-text{
    text-align: center;
}

/*impostazioni di scorrimento nav*/

nav {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1;
}

li{
    display: inline-block;
    font-family: 'Russo One', sans-serif;}

li > a {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    display: block;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 30px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

/*impostazioni del testo*/

.text-shoes{
    font-size: 60px;
    color: yellow;
}

.text-shoes-three{
    font-size: 60px;
    color: green;
}